[config]
API_TOKEN=YourAPIToken
DATA_DIR=data
LN_NODE_URL=http://localhost:3001
ASSET_ID=rgb:2uSYWzE-YvkUEXg6C-vK7gV5pqj-4LAun1jky-D73672LhW-unCWjMA
ASSET_AMOUNT_TO_SEND=42
SAT_AMOUNT_TO_SEND=50000
LN_ANNOUNCEMENT_ADDR=your.public.ip:9735
INVOICE_EXPIRATION_SEC=900
INVOICE_PRICE=1
UTXOS_TO_CREATE=3
FEE_RATE=100

# optional settings
DEVELOPER_CHAT_ID=YourDeveloperChatID
LOG_LEVEL_CONSOLE=INFO
